/webscrape-zorgverzekering/*.classpath
/webscrape-zorgverzekering/*.project
/webscrape-zorgverzekering/src/main/resources/results/backup
/webscrape-zorgverzekering/target
/webscrape-zorgverzekering/.settings
/webscrape-zorgverzekering/src/main/resources/results
/firebase/.classpath
/firebase/.gitignore
/firebase/.project
/firebase/.settings/org.eclipse.jdt.core.prefs
/firebase/.settings/org.eclipse.m2e.core.prefs
